sudo apt-get -y update
sudo apt-get install git
sudo apt-get install vim
sudo apt-get install -y libssl-dev libreadline-dev zlib1g-dev
sudo apt-get install ruby ruby-dev make gcc nodejs
sudo gem install jekyll --no-rdoc --no-ri
sudo apt-get install openssl
sudo apt-get install nginx
