---
layout: default
---

<div class="main">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        {% assign m = post.date | date: "%-m" %}
        <span class="post-meta">
          {{ post.date | date: "%-d" }}
          {% case m %}
            {% when '1' %}{{ site.data.i18n[site.language_default].january }}
            {% when '2' %}{{ site.data.i18n[site.language_default].february }}
            {% when '3' %}{{ site.data.i18n[site.language_default].march }}
            {% when '4' %}{{ site.data.i18n[site.language_default].april }}
            {% when '5' %}{{ site.data.i18n[site.language_default].may }}
            {% when '6' %}{{ site.data.i18n[site.language_default].june }}
            {% when '7' %}{{ site.data.i18n[site.language_default].july }}
            {% when '8' %}{{ site.data.i18n[site.language_default].august }}
            {% when '9' %}{{ site.data.i18n[site.language_default].september }}
            {% when '10' %}{{ site.data.i18n[site.language_default].october }}
            {% when '11' %}{{ site.data.i18n[site.language_default].november }}
            {% when '12' %}{{ site.data.i18n[site.language_default].december }}
          {% endcase %}
          {{ post.date | date: "%Y" }}
        </span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; {{ site.data.i18n[page.language].previous_page }}</a>
    {% else %}
      <span>&laquo; {{ site.data.i18n[page.language].previous_page }}</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ site.data.i18n[page.language].next_page }} &raquo;</a>
    {% else %}
      <span>{{ site.data.i18n[page.language].next_page }} &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>