@media screen and (min-device-width: 1250px) and (max-device-width: 1450px) {

  header, footer {
    max-width: 1082px;
  }

  h1 {
    font-size: 55px;
  }

  .main {
    max-width: 1082px;
  }

  .home .advantages {
    width: 1082px;
  }

  .home .advantage {
    width: 209px;
  }

  .home .advantages .inline h4 {
    padding: 0 5px;
    font-size: 20px;
  }

  .home .advantage p {
    margin: 0 10px;
    font-size: 15px;
  }

  .home .news {
    width: 1082px;
  }

  .product-slide {
    width: 1082px;
    height: 630px;
  }

  .home .news-main {
    width: 626px;
    height: 329px;
  }

  .home .news-small {
    width: 440px;
    height: 156px;
  }

  .tech-logo-01 {
    margin: 0 20px;
  }

  .tech--ios {
    margin: 0;
  }

  .tech--droid {
    margin: 0;
  }

  .product-list li {
    width: 350px;
    height: 176px;
  }

  .service-slider {
    width: 760px;
  }

  .service-list li {
    width: 316px;
  }

  .service-list li .description {
    font-size: 16px;
  }

  .description h2 {
    font-size: 37px;
  }

  .description p {
    font-size: 20px;
  }

  .hh-table th div {
    height: 140px;
  }

  .notice p {
    margin-bottom: 18px;
  }

  .notice.box div:first-of-type {
    flex-basis: 70%;
  }

  img.sv-img {
    height: 340px;
  }

  .product-list li .description {
    width: 190px;
    font-size: 15px;
  }

  .product-slide .promo > span {
    //font-size: 20px;
    width: 550px;
  }

  .service .inline .slide .description {
    //font-size: 18px;
    width: 590px;
  }

  .service .inline .slide .description h2 {
    font-size: 40px;
  }

.product-slide li .promo .mockup-samsung {
    height: 456px;
    width: 700px;
  }

.product-slide li .promo .mockup-iphone {
    height: 458px;
    width: 700px;
  }

  .post-content p {
    padding-right: 50px;
    padding-left: 50px;
  }

  .post-content h2 {
    padding-right: 40px;
  }

  .post-content h6 {
    max-width: 90%;
  }

  .hh-table th div {
    height: 120px;
  }

  .hh-table td div {
    height: 120px;
  }

  img.sv-img-1 {
    height: 295px;
  }

}


@media screen and (min-device-width: 1024px) and (max-device-width: 1250px) {

  header, footer {
    max-width: 900px;
  }

  h1 {
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .main {
    max-width: 900px;
  }

  .home .advantages {
    width: 900px;
  }

  .home .advantage {
    width: 175px;
  }

  .home .advantages .inline h4 {
    padding: 0 3px;
    font-size: 18px;
  }

  .home .advantage p {
    margin: 0 10px;
    font-size: 15px;
  }

  .home .news {
    width: 900px;
  }

  .product-slide {
    width: 900px;
    height: 524px;
  }

  .home .news-main {
    width: 537px;
    height: 243px;
  }

  .home .news-small {
    width: 348px;
    height: 113px;
  }

  .home .news-main .post-meta h4 {
    font-size: 30px;
    margin-bottom: 15px;
}

  .home .news-small .post-meta h4 {
      font-size: 16px;
      margin-bottom: 6px;
  }

  .home .news-main .post-meta p {
      font-size: 15px;
  }

  .home .news-small .post-meta p {
      font-size: 11px;
  }

  .tech-logo-01 {
    margin: 0 10px;
  }

  .tech--ios {
    margin: 0;
  }

  .tech--droid {
    margin: 0;
  }

  .product-list li {
    width: 290px;
    height: 146px;
  }

  .service-slider {
    width: 634px;
    height: 497px;
  }

  .service-list li {
    width: 260px;
    height: 124px;
  }

  .service-list li .description {
    font-size: 15px;
    max-width: 72%;
  }

  .service .inline .slide .description {
    font-size: 18px;
    width: 500px;
  }

  .service .inline .slide .description h2 {
    font-size: 30px;
  }

  .hh-table th div {
    height: 140px;
  }

  .notice p {
    font-size: 16px;
  }

  .notice.box div:first-of-type {
    flex-basis: 70%;
  }

  img.sv-img {
    height: 340px;
  }

  .product-slide li .promo .mockup-samsung {
    height: 358px;
    width: 550px;
    top: 100px;
    right: -61px;
  }

  .product-slide li .promo .mockup-iphone {
    height: 359px;
    width: 550px;
    top: 78px;
    //right: -56px;
  }

  .product-slide .promo .head {
    font-size: 50px;
    margin-bottom: 15px;
  }

  .product-slide li .promo {
    height: 402px;
  }

  .product-list li .head {
    font-size: 25px;
  }

  .product-list li .description {
    width: 152px;
    font-size: 12px;
  }

  .product-slide .promo > span {
    font-size: 20px;
    width: 450px;
  }

  a.more-info {
    font-size: 15px;
    padding: 7px 25px;
  }

  .post-content p {
    max-width: 90%;
  }

  .post-content h2 {
    padding-right: 40px;
  }

  .post-content h6 {
    max-width: 90%;
  }

  .post-content h5 {
    padding-left: 40px;
    max-width: 90%;
  }

  a.prev-post img {
    left: 5px;
  }

  a.next-post img {
    right: 5px;
  }

  .contacts-holder .contact .map-holder {
    width: 850px;
    height: 190px;
  }

  img.sv-img {
    height: 288px;
  }

  .box {
    font-size: 16px;
  }

  .notice h2 {
    font-size: 32px;
  }

  .box-gray h4 {
    font-size: 24px;
  }

  p.tech-logo {
    font-size: 14px;
  }

  .hh-table th div {
    height: 115px;
  }

  .hh-table td div {
    height: 100px;
  }

  img.sv-img-1 {
    height: 295px;
  }

  img.sv-img-2 {
      height: 280px;
  }

  .home .tags {
    margin: 30px 0;
  }

}

//@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
@media screen and (max-device-width: 1024px) {

  .desktop-visible {
    visibility: hidden;
    display: none;
  };

  .mobile-visible {
    visibility: visible;
    display: inherit;
  };

  .lowres-nav {
    z-index: 100;
    position: fixed;
    top: 3%;
    right: 3%;
  }

  .logo {
    margin-right: -40px;
    margin-left: 40px;
  }

  .contacts-header {
    margin-top: 20px;
  }

  body {
      font-size: 15px;
  }

  header, footer {
    max-width: 700px;
  }

  footer {
    text-align: center;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  p {
    margin-bottom: 15px;

  }

  p.borded-top {
    padding-top: 15px;
  }

  .main {
    max-width: 700px;
  }

  .home .advantages {
    width: 700px;
    height: 450px;
    position: relative;
  }

  .home .advantage {
    width: 210px;
  }

  .home .advantages .inline h4 {
    padding: 0 3px;
    font-size: 18px;
    margin-bottom: 0;
  }

  .home .advantage p {
    margin: 0 10px;
    font-size: 15px;
  }

  .home .advantage img {
    margin-bottom: 15px;
  }

  .home .news {
    width: 700px;
  }

  .product-slide {
    width: 700px;
    height: 436px;
  }

  .home .news-main {
    width: 390px;
    height: 190px;
  }

  .home .news-small {
    width: 300px;
    height: 91px;
    margin-left: 5px;
  }

  .home .news-main .post-meta h4 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .home .news-small .post-meta h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .home .news-main .post-meta p {
    font-size: 15px;
  }

  .home .news-small .post-meta p {
    font-size: 12px;
  }

  .home .news-small li {
    margin-bottom: 8px;
  }

  //.home .news-small p.date {
  //  margin-bottom: 5px;
  //}

  .tech-logo-01 {
    margin: 0 2px;
  }

  .tech--ios {
    margin: 0;
  }

  .tech--droid {
    margin: 0;
  }

  .product-list {
    margin-bottom: 30px;
  }

  .product-list li {
    width: 233px;
    height: 123px;
    margin-left: 0;
    margin-right: 0;
  }

  .product-list li > div {
    padding: 12px;
  }

  .service {
    margin-bottom: 40px;
  }

  .service-slider {
    width: 500px;
    height: 412px;
  }

  .service-list li {
    width: 195px;
    height: 103px;
  }

  .service-list li .description {
    font-size: 12px;
    max-width: 72%;
  }

  .service .inline .slide .description {
    font-size: 16px;
    width: 455px;
  }

  .service .inline .slide .description h2 {
    font-size: 26px;
  }

  .notice p {
    font-size: 16px;
  }

  .notice.box div:first-of-type {
    flex-basis: 70%;
  }

  img.sv-img {
    height: 340px;
  }

  .product-slide li .tech .caption {
    margin-bottom: 10px;
  }

  .product-slide li .promo .mockup-samsung {
    height: 293px;
    width: 450px;
    top: 84px;
    right: -35px;
  }

  .product-slide li .promo .mockup-iphone {
    height: 294px;
    width: 450px;
    top: 72px;
    right: -35px;
  }

  .product-slide .promo .head {
    font-size: 44px;
    margin-bottom: 8px;
  }

  .product-slide li .promo {
    height: 335px;
  }

  .product-slide li .promo {
    padding-left: 30px;
  }

  .product-slide li .tech {
    height: 102px;
    padding: 10px;
  }

  .product-list li .head {
    font-size: 25px;
  }

  .product-list li .description {
    width: 152px;
    font-size: 12px;
  }

  .product-slide .promo > span {
    font-size: 15px;
    width: 450px;
  }

  a.more-info {
    font-size: 15px;
    padding: 7px 25px;
  }

  .post-content p {
    max-width: 90%;
  }

  .post-content h2 {
    padding-right: 40px;
  }

  .post-content h6 {
    max-width: 90%;
  }

  .post-content h5 {
    padding-left: 40px;
    max-width: 90%;
  }

  a.prev-post img {
    left: 5px;
  }

  a.next-post img {
    right: 5px;
  }

  .contacts-holder .contact .map-holder {
    width: 850px;
    height: 190px;
  }

  img.sv-img {
    height: 288px;
  }

  .box {
    font-size: 15px;
  }

  .notice h2 {
    font-size: 26px;
  }

  .notice p {
    font-size: 13px;
  }

  .box-gray h4 {
    font-size: 18px;
  }

  p.tech-logo {
    font-size: 14px;
  }

  .hh-table th div {
    height: 115px;
  }

  .hh-table td div {
    height: 90px;
  }

  .hh-table p.top-right {
    margin: 25px 40px;
  }

  .hh-table p.bot-left {
    margin: 25px 40px;
  }

  .contacts-holder .contact .map-holder {
    width: 750px;
  }

  img.sv-img-1 {
    height: 244px;
  }

  img.sv-img-2 {
      height: 259px;
  }

  .home .tags {
    margin: 30px 0;
  }

  .vacancy {
    padding: 15px;
  }

  .vacancy h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .vacancy img {
    width: 100px;
  }

  .space {
    padding-top: 20px;
  }

}