.tech-logo-01 {
    display: inline-block;
    background: transparent url(/img/logos/logo-list-01.png) no-repeat top left;
    vertical-align: middle;
    margin: 0 25px;
}

.tech--python {
    height: 32px;
    width: 34px;
}

.tech--django {
    height: 33px;
    width: 96px;
    background-position: 0 -42px;
}

.tech--redis {
    height: 31px;
    width: 96px;
    background-position: 0 -85px;
}

.tech--nginx {
    height: 24px;
    width: 108px;
    background-position: 0 -126px;
}

.tech--html5 {
    height: 35px;
    width: 27px;
    background-position: 0 -160px;
}

.tech--asn1 {
    height: 24px;
    width: 84px;
    background-position: 0 -205px;
}

.tech--postgresql {
    height: 40px;
    width: 42px;
    background-position: 0 -239px;
}

.tech--sqlite {
    height: 45px;
    width: 39px;
    background-position: 0 -289px;
}

.tech--cpp {
    height: 39px;
    width: 36px;
    background-position: 0 -344px;
}

.tech--rest {
    height: 24px;
    width: 74px;
    background-position: 0 -393px;
}

.tech--ssl {
    height: 24px;
    width: 54px;
    background-position: 0 -426px;
}

.tech--websocket {
    height: 29px;
    width: 41px;
    background-position: 0 -457px;
}

.tech--wamp {
    height: 39px;
    width: 41px;
    background-position: 0 -496px;
}

.tech--odoo {
    height: 25px;
    width: 78px;
    background-position: 0 -545px;
}

.tech--qt {
    height: 39px;
    width: 32px;
    background-position: 0 -580px;
}

.tech--jwt {
    height: 24px;
    width: 77px;
    background-position: 0 -629px;
}

.tech--tornado {
    height: 40px;
    width: 32px;
    background-position: 0 -976px;
}

.tech--cordova {
    height: 40px;
    width: 44px;
    background-position: 0 -663px;
}

.tech--mqtt {
    height: 28px;
    width: 64px;
    background-position: 0 -1026px;
}

.tech--dotnet {
    height: 25px;
    width: 63px;
    background-position: 0 -712px;
}

.tech--mongodb {
    height: 29px;
    width: 102px;
    background-position: 0 -747px;
}

.tech--cython {
    height: 39px;
    width: 41px;
    background-position: 0 -786px;
}

.tech--swift {
    height: 40px;
    width: 44px;
    background-position: 0 -835px;
}

.tech--objectivec {
    height: 31px;
    width: 64px;
    background-position: 0 -885px;
}

.tech--touchid {
    height: 40px;
    width: 39px;
    background-position: 0 -926px;
}

.tech--tornado {
    height: 42px;
    width: 32px;
    background-position: 0 -975px;
}

.tech--mqtt {
    height: 30px;
    width: 65px;
    background-position: 0 -1025px;
}

.tech--ios {
    height: 73px;
    width: 73px;
    background-position: 0 -1058px;
    margin: 0;
}

.tech--droid {
    height: 73px;
    width: 73px;
    background-position: 0 -1130px;
    margin: 0;
}

.tech-logo-02 {
    display: inline-block;
    background: transparent url(/img/logos/logo-list-02.png) no-repeat top left;
    vertical-align: middle;
    margin: 0 25px;
}

p.tech-logo {
    font-family: "Roboto-Thin", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center
}

p.borded-top {
    padding-top: 25px;
    //padding-bottom: 25px;
    border-top: 1px solid #e6e6e6;
}

.tech--sap {
    height: 41px;
    width: 77px;
    background-position: 0px 0px;
    margin: 0;
}

.tech--web-services {
    height: 41px;
    width: 59px;
    background-position: 0px -46px;
    margin: 0;
}

.tech--microsoft {
    height: 41px;
    width: 142px;
    background-position: 0px -95px;
    margin: 0;
}

.tech--dbms {
    height: 46px;
    width: 44px;
    background-position: 0px -139px;
    margin: 0;
}

.tech--oracle {
    height: 31px;
    width: 134px;
    background-position: 0px -188px;
    margin: 0;
}

.tech--smb {
    height: 46px;
    width: 65px;
    background-position: 8px -221px;
    margin: 0;
}

.tech--ibm {
    height: 41px;
    width: 93px;
    background-position: 0px -274px;
    margin: 0;
}

.tech--cloud {
    height: 42px;
    width: 62px;
    background-position: 0px -318px;
    margin: 0;
}

.tech--nat-app {
    height: 63px;
    width: 59px;
    background-position: 0px -359px;
    margin: 0;
}

.tech--web-app {
    height: 56px;
    width: 73px;
    background-position: 0px -427px;
    margin: 0;
}

.tech--cross-plat-app {
    height: 62px;
    width: 44px;
    background-position: 0px -493px;
    margin: 0;
}

.tech--xcode {
    height: 89px;
    width: 97px;
    background-position: 0px -564px;
    margin: 0;
}

.tech--android-studio {
    height: 89px;
    width: 81px;
    background-position: 0px -663px;
    margin: 0;
}

.tech--cordova-colored {
    height: 89px;
    width: 89px;
    background-position: 0px -760px;
    margin: 0;
}

.tech--windows {
    height: 89px;
    width: 89px;
    background-position: 0px -866px;
    margin: 0;
}

.tech--pdf {
    height: 63px;
    width: 39px;
    background-position: 0px -961px;
    margin: 0;
}

.tech--run-circle {
    height: 63px;
    width: 74px;
    background-position: 0px -1014px;
    margin: 0;
}