.tech-logo {
    display: inline-block;
    /*height: */
    background: transparent url(/img/logo-list.png) no-repeat top left;
    vertical-align: middle;
    margin: 0 25px;
}

.tech--python {
    height: 32px;
    width: 34px;
}

.tech--django {
    height: 33px;
    width: 96px;
    background-position: 0 -42px;
}

.tech--redis {
    height: 31px;
    width: 96px;
    background-position: 0 -85px;
}

.tech--nginx {
    height: 24px;
    width: 108px;
    background-position: 0 -126px;
}

.tech--html5 {
    height: 35px;
    width: 27px;
    background-position: 0 -160px;
}

.tech--asn1 {
    height: 24px;
    width: 84px;
    background-position: 0 -205px;
}

.tech--postgresql {
    height: 40px;
    width: 42px;
    background-position: 0 -239px;
}

.tech--sqlite {
    height: 45px;
    width: 39px;
    background-position: 0 -289px;
}

.tech--cpp {
    height: 39px;
    width: 36px;
    background-position: 0 -344px;
}

.tech--rest {
    height: 24px;
    width: 74px;
    background-position: 0 -393px;
}

.tech--ssl {
    height: 24px;
    width: 54px;
    background-position: 0 -426px;
}

.tech--websocket {
    height: 29px;
    width: 41px;
    background-position: 0 -457px;
}

.tech--wamp {
    height: 39px;
    width: 41px;
    background-position: 0 -496px;
}

.tech--odoo {
    height: 25px;
    width: 78px;
    background-position: 0 -545px;
}

.tech--qt {
    height: 39px;
    width: 32px;
    background-position: 0 -580px;
}

.tech--jwt {
    height: 24px;
    width: 77px;
    background-position: 0 -629px;
}

.tech--tornado {
    height: 40px;
    width: 32px;
    background-position: 0 -976px;
}

.tech--cordova {
    height: 40px;
    width: 44px;
    background-position: 0 -663px;
}

.tech--mqtt {
    height: 28px;
    width: 64px;
    background-position: 0 -1026px;
}

.tech--dotnet {
    height: 25px;
    width: 63px;
    background-position: 0 -712px;
}

.tech--mongodb {
    height: 29px;
    width: 102px;
    background-position: 0 -747px;
}

.tech--cython {
    height: 39px;
    width: 41px;
    background-position: 0 -786px;
}

.tech--swift {
    height: 40px;
    width: 44px;
    background-position: 0 -835px;
}

.tech--objectivec {
    height: 31px;
    width: 64px;
    background-position: 0 -885px;
}

.tech--touchid {
    height: 40px;
    width: 39px;
    background-position: 0 -926px;
}

.tech--tornado {
    height: 42px;
    width: 32px;
    background-position: 0 -975px;
}

.tech--mqtt {
    height: 30px;
    width: 65px;
    background-position: 0 -1025px;
}

.tech--ios {
    height: 40px;
    width: 61px;
    background-position: 0 -1063px;
}

.tech--droid {
    height: 45px;
    width: 33px;
    background-position: 0 -1111px;
}