/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    padding: 0;
    margin: 0;
}


* {
    box-sizing: border-box;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

p {
    margin-bottom: 25px;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}




header, main, footer {
    max-width: 1240px;
    margin: auto;
}

header {
    padding: 40px 0 20px;
}

main {
    /*text-align: center;*/
}

h1 {
    color: #067dd9;
    text-align: center;
    text-transform: uppercase;
    font-size: 68px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 65px;
}

h3 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

strong {
    /*color: #4cadfa;*/
}

dl dt {
    display: inline;
    font-style: normal;
}

dl dd {
    display: inline;
    font-style: normal;
    font-weight: bold;
}

.logo {
    display: inline-block;
    width: 193px;
    margin-right: 26px;
}

.slogan {
    font-size: 14px;
    font-style: italic;
    display: inline-block;
    margin-top: 15px;
}

.phone {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    vertical-align: top;
    display: inline-block;
    font-weight: 700;
}

.menu {
    float: right;
    vertical-align: middle;
}

.menu a {
    display: inline-block;
    text-transform: uppercase;
    color: inherit;
    margin-left: 22px;
    font-weight: 700;
}

.menu a.active {
    text-decoration: underline;
}

header .phone,
header .menu {
    padding-top: 17px;
}

article.about {
    width: 660px;
    margin: 10px auto;
    padding: 40px;
    background:
        url(../img/article-bg-mid.png) no-repeat center center,
        url(../img/article-bg-top.png) no-repeat top left,
        url(../img/article-bg-but.png) no-repeat bottom right;
}

footer {
    border-top: 1px solid #dedede;
    padding: 34px 0 80px;
    margin-top: 34px;
}

.contacts-holder .contact .map-holder {
    position: relative;
    width: 1000px;
    height: 224px;
    margin: auto;
    background-color: #33b679;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 2px 4px 8px rgba(128, 128, 128, 0.3);
}
.contacts-holder .contact a {
    color: $background-color;
}

.contacts-holder .contact .map-holder address {
    position: absolute;
    display: block;
    width: 330px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 21px;
    line-height: 180px;
}

.contacts-holder .contact .map-holder address dl {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
}
